@charset "UTF-8";

*, *::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

/* ---------------------
    Contents
------------------------ */
.wrapper{
  position: relative;
  display: block;
  height: 100%;
  margin:0;
  padding:0;
  overflow: hidden;
  -webkit-perspective: 500px;
  perspective: 500px;
}

/* Header */
header{
  background: url(../imgs/mv.jpg) fixed no-repeat left 200%;
  background-size: cover;
  width: 100%;
  min-width: 100%;
  height: 300px;
  overflow: hidden;
  h1{
    right: 0;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;;
    font-size: 5rem;
    font-weight: 200;
    writing-mode: vertical-rl;
  }
}

/* Cntents */
.contents{
  background: url(../imgs/bg.png) repeat;
  width: 100%;
  height: 100%;
  padding: 80px 20px 20px 20px;
}
main{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  max-width: 650px;
  margin: 0 auto 80px;
  padding: 30px 60px 10px;
}

form{
  dl{
    margin: 10px 0 20px;
  }
  dt{
    font-size: 1.2rem;
    font-weight: bold;
  }
  dd{
    margin: 0;
  }
  input{
    background: none;
    border: none;
    font-size: 1.8rem;
  }
  label[for="schedule"]{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      right: 5px;
      width: 50px;
      height: 50px;
    }
    input{
      background: rgba(0, 0, 0, 0.05);
      width: 250px;
      height: 30px;
      margin: 5px 10px 20px 0;
      &::-webkit-inner-spin-button{
        -webkit-appearance: none;
      }
      &::-webkit-calendar-picker-indicator{
        color: transparent;
        position: relative;
        &::before{
          content: '\f274';
          top: 0;
        }
      }
    }
  }
  input{
    &[type="text"]{
    }
    &[type="tel"]{
    }
    &[type="email"]{
    }
    &[type="submit"]{
      display: block;
      background: #2581c4;
      border: 1px solid #2581c4;
      border-radius: 5px;
      color: #fff;
      font-size: 1.6rem;
      text-align: center;
      text-indent: 1em;
      font-weight: 300;
      letter-spacing: 1em;
      width: 300px;
      height: 45px;
      margin: 50px auto;
      transition: .3s;
      cursor: pointer;
      &:hover{
        background: #3c9ec1;
      }
    }
  }
}

footer{
  width: 100%;
  margin: 20px 0 10px;
  padding: 0;
  p{
    color: #555;
    font-size: 1.2rem;
    text-align: center;
  }
}
