body{
	width: 800px;
	margin: 10px auto 80px;
}
h1{
	margin: 20px 0;
}
h2{
	margin: 50px 0 10px;
	padding: 5px;
	border-bottom: 1px dotted #888;
}
h1 + h2{
	margin-top: 0;
}
h3{
	margin: 40px 0 10px;
}
h2 + h3{
	margin-top: 30px;
}
.subTitle{
	font-size: 2rem;
	font-weight: bold;
	margin: 20px 20px 5px;
}
.import{
	font-size: 1.6rem;
	font-weight: bold;
	margin: 15px 0;
}
.mb30{
	margin-bottom: 30px;
}
pre{
	display: block;
	background: #e8e8e8;
	color: #333;
	line-height: 1.4;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 5px 0;
	padding:10px 15px;
}
ol li{
	margin: 10px 0;
}
.com{
	margin: 30px 0 10px 50px;
}
.com pre {
	background-color: #f5f5f5;
	margin-bottom: 3px;
}
.com pre + p{
	margin: 5px 8px 25px;
}
.com pre + p + ul{
	margin-top: -15px;
}
.com ul{
	margin: 5px 0 25px;
}

.ex{
	background: #fff0a4;
	margin: 50px 0 30px;
	padding:20px 50px 20px 20px;
}
.ex h3{
	margin:10px;
}
.ex ul{
	margin: 2px 0 0;
}
.ex ul li + li{
	margin: 10px 0;
}
