@charset "UTF-8";

body{
  background:#f6f6f6;
  background-image: url(../imgs/bg.png);
  margin: 0;
  padding: 0;
  height: 1000px;
}

#line{
  position: absolute;
  box-sizing: border-box;
  border: 20px solid #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#wrapper{
  padding: 20px;
}
