html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html::before, html::after, body::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border: solid #fff;
  border-width: 15px 0 0;
  z-index: 10;
}

html::after {
  top: auto;
  bottom: 0;
  border-width: 0 0 15px;
}

body::before {
  bottom: 0;
  border-width: 0 15px 0;
  z-index: -1;
}

@media (min-width: 768px) {
  html::before, html::after, body::before {
    border-width: 20px 0 0;
  }
  html::after {
    border-width: 0 0 20px;
  }
  body::before {
    border-width: 0 20px 0;
  }
}

body {
  background: #f6f6f6;
  background-image: url(../imgs/bg.png);
  margin: 15px;
  height: 1000px;
}

@media (min-width: 768px) {
  body {
    margin: 20px;
  }
}

/* -------------------
    Contents
------------------- */
/* Header */
header {
  position: relative;
  width: 100%;
}

header #head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
}

h1 {
  margin: 0;
}

/**/
