html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

html::before, html::after, body::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border: solid #fff;
  border-width: 15px 0 0;
  z-index: 10;
}

html::after {
  top: auto;
  bottom: 0;
  border-width: 0 0 15px;
}

body::before {
  bottom: 0;
  border-width: 0 15px 0;
  z-index: -1;
}

@media (min-width: 768px) {
  html::before, html::after, body::before {
    border-width: 20px 0 0;
  }
  html::after {
    border-width: 0 0 20px;
  }
  body::before {
    border-width: 0 20px 0;
  }
}

body {
  position: relative;
  background: #f6f6f6;
  background-image: url(../imgs/bg.png);
  font-size: 1.6rem;
  margin: 15px;
  height: 100%;
}

@media (min-width: 768px) {
  body {
    margin: 20px;
  }
}

/* Contents
------------------- */
/* Header */
header {
  position: relative;
  width: 100%;
}

header #head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 45%;
}

h1 {
  margin: 0;
}

h2 {
  text-align: center;
}

/* Contents */
main {
  padding-bottom: 60px;
}

main section {
  border-top: 30px solid #fff;
  min-height: 200px;
  padding: 15px;
}

@media (min-width: 768px) {
  main section {
    padding: 30px;
  }
}

form {
  display: block;
  width: 90%;
  margin: 0 auto;
}

form dd {
  margin: 0;
}

form input {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  width: 100%;
  padding: 12px;
}

@media (min-width: 768px) {
  form {
    width: 80%;
    max-width: 850px;
  }
}

footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  text-align: center;
}

footer small {
  color: #666;
  font-size: 1.2rem;
}
